:root {
    --color-1: #F9F7F7;
    --color-2: #DBE2EF;
    --color-3: #3F72AF;
    --color-4: #112D4E;
    --color-5: #EFE8DB;

}
html{
    scroll-behavior: smooth;
}
div {
    display: block;
}

section {
    padding-top: 3vh;
    height: 80vh;
    box-sizing: border-box;
    min-height: min-content;
    width: auto;

}

.flecha img {
    height: 3rem;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    position: fixed;
}

/* NAVBAR */

.navbar {
    background-color: var(--color-3);
    height: 13vh;
}

#link {
    color: var(--color-1);
    background-color: var(--color-3);
    padding: 2vh;
    text-align: center;
    font-size: 1.3rem;
}

/* inicio */

.inicio {
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
    text-align: center;
    background-color: var(--color-2);
    /* width:-webkit-fill-available; */
     width: 100%; 
}

#foto-perfil {
    height: 400px;
    border-radius: 50%;
    border: var(--color-4) solid 2px;
}
  

#h1 {
    font-size: 3.5rem;
    font-style: oblique;
    color: var(--color-4);
    margin-bottom: 1rem;
}

#h4 {
    font-size: 1.5rem;
    color: var(--color-3);
    text-align: center;
    font-style: oblique;
}

/* medias */

@media screen and (max-width: 600px){
    
   .inicio{
    display: inline-block;
    align-content: center;
   }
   #foto-perfil{
    height: 50%;
   }
}
